<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration-Form</title>
</head>
<body>
    <form action="registration" method="post">
        <h2>Welcome to Registration Form</h2>
        <label for="firstname">FirstName : </label><br><br>
        <input type="text" id="firstname" name="firstname"><br><br>
        <label for="lastname">LastName : </label><br><br>
        <input type="text" id="lastname" name="lastname"><br><br>
        <label for="username">Username : </label><br><br>
        <input type="text" id="username" name="username"><br><br>
        <label for="email">Email : </label><br><br>
        <input type="email" id="email" name="email"><br><br>
        <label for="password">Password : </label><br><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>