<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multer-File_Uploading</title>
</head>
<body>
    <form action="/fields" method="post" enctype="multipart/form-data">
        <label for="images">Upload Images:</label>
        <input type="file" name="images" multiple>
      
        <label for="documents">Upload Documents:</label>
        <input type="file" name="documents" multiple>
      
        <button type="submit">Submit</button>
      </form>
      
</body>
</html>